---
import FacturasComponent from "@/components/Facturaciones/FacturasComponent"
import Layout from "@/layouts/Layout.astro";
---
<Layout>
  <section class="container">
    <header class="section-Header">
      <h1 class="tittle">Creación de Facturas</h1>
      <!-- <button class="" id="addProducto" aria-label="Agregar Producto"> <AddIcon/> Agregar Producto</button> -->
    </header>

    <FacturasComponent client:load/>
  </section>
</Layout>

<style>
   
</style>