---
  import ChartWeekActivity from '../components/ChartWeekActivity.astro';
import InfoCard from '../components/InfoCard.astro';
  import Layout from '../layouts/Layout.astro';
---
<Layout>
  <section class="container">
    <section class="infocards">
      <InfoCard titulo="Reportes en Agosto" dato="703"/>
      <InfoCard titulo="Facturaciones en Agosto" dato="113"/>
      <InfoCard titulo="Rubros en Inventario" dato="1203"/>
      <InfoCard titulo="Usuarios" dato="11"/>
    </section>

    <section class="resumen-activity">
      <ChartWeekActivity />
    </section>
  </section>
</Layout>

<style>
  .container{
    width: 100%;
    padding: 0.5rem;
  }

  .infocards {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;

    @media (width < 1024px){
      flex-direction:column;
      justify-content: center;
    }
  }


</style>