---
 import Layout from '../layouts/Layout.astro';
---
<Layout>
  <section>
    <h1>hola</h1>
  </section>
</Layout>

<style>
  section{
    width: 100%; 
    padding: 0.5rem;
    background-color: var(--color-morado-hover);
  }
</style>