---
  import InfoCard from '../components/InfoCard.astro';
  import Layout from '../layouts/Layout.astro';
---
<Layout>
  <section class="container">
    <section class="infocards">
      <InfoCard titulo="Inventario" dato="1203"/>
      <InfoCard titulo="Inventario" dato="1203"/>
    </section>
  </section>
</Layout>

<style>
  .container{
    width: 100%;
    padding: 0.5rem;
  }
</style>