---
import ReportesComponent from "@/components/Reportes/ReportesComponent";
import Layout from "@/layouts/Layout.astro";
---
<Layout>
  <section class="container">
    <header class="section-Header">
      <h1 class="tittle">Reportes de Movimientos</h1>
      <!-- <button class="" id="addProducto" aria-label="Agregar Producto"> <AddIcon/> Agregar Producto</button> -->
    </header>

    <ReportesComponent client:load/>
  </section>
</Layout>

<style>
   
</style>