---
import AddClientIcon from '@/assets/icons/addclients.svg'
import AddIcon from '@/assets/icons/add.svg'
import Layout from '@/layouts/Layout.astro'
import ClientesComponent from "@/components/Clientes&Usuarios/ClientesComponent"
---
<Layout >
  <section class="container">
    <header class="section-Header">
      <h1 class="tittle">Panel de Usuarios y Clientes</h1>
      <div class="btngruop">
        <button class="" id="addCliente" aria-label="Agregar Clientes"> <AddClientIcon/> Agregar Cliente</button>
        <button class="" id="addUsuario" aria-label="Agregar Usuario"> <AddIcon/> Agregar Usuario</button>
      </div>
    </header>

    <div class="gridlayout">
      <section>
        <h2>
          Tabla de Clientes Registrados
        </h2>
        
        <ClientesComponent />
        
      </section>

      <section>
        <h2>Tabla de Usuarios del Sistema</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nostrum maxime dignissimos deleniti tempora exercitationem cum, nihil laboriosam, recusandae quae numquam! Est voluptate a illo, voluptatum sunt exercitationem asperiores at!
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi perspiciatis praesentium saepe nesciunt optio! Esse odit exercitationem eaque temporibus, modi quasi suscipit laborum quos nihil reprehenderit, labore vel quaerat distinctio!
        </p>
      </section>
    </div>

  </section>
</Layout>

<style>
  .btngruop {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;

    button {
      transition: transform 0.1s ease;

      &:active {
        transform: scale(0.9);
      }
    }
  }

  .gridlayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; 

    & > section {
      padding: 1.5rem 0.8rem 0.8rem 0.8rem;
      position: relative;
      border: thin solid var(--color-naranja-claro);
      border-radius: 0.3rem;

      & > h2 {
        text-align: center;
        position: absolute;
        text-wrap: nowrap;
        top: 0;
        left: 50%;
        padding-inline: 1rem;
        transform: translate(-50%, -55%);
        background-color: var(--color-morado-oscuro);

        @media ( width <= 1024px){
          font-size: 1rem;
        }
      }
    }

    @media (max-width : 768px){
      grid-template-columns: 1fr;
    }
  }
</style>