---

---
<div class="recent-activities-container">
  <h2>Actividades Reciente</h2>
  <div>
    <span>Factura</span> <span>#1037</span>
    <span>Cliente:</span> <span>Antonio el Toño</span>
  </div>
</div>

<style>
  .recent-activities-container{
    width: 100%;
    background-color: var(--color-morado-claro);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;

    & > h2 {
      font-weight: bold;
      font-size: 1.3rem;
    }

    &:hover {
      background-color: var(--color-morado-hover);
    }
  }
</style>