---

---
<table>
  <thead>
    <tr>
      <th scope="col">Factura</th>
      <th scope="col">Fecha</th>
      <th scope="col">Tipo</th>
      <th scope="col">Monto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>#1651653</td>
      <td>16/06/2004</td>
      <td>Venta</td>
      <td>$32,15</td>
    </tr>
    <tr>
      <td>#1651654</td>
      <td>17/06/2004</td>
      <td>Venta</td>
      <td>$120,00</td>
    </tr>
    <tr>
      <td>#1651655</td>
      <td>18/06/2004</td>
      <td>Compra</td>
      <td>$89,99</td>
    </tr>
  </tbody>
</table>

<style>
  table {
    width: 100%;
    background: var(--color-morado-claro);
    border-collapse: collapse;
    overflow-x: auto;
    font-size: 1.1rem;

    & th, td {
      padding: 0.7rem;
      text-align: left;
    }

    & thead {
      background-color: var(--color-naranja-oscuro);
       font-weight: 600;
    }

    & tbody tr:nth-child(even) {
      background: var(--color-morado-hover);
    }

    @media (width <= 768px){
      
       
    }
  }
</style>