---
import BoxIcons from '../assets/icons/boxes.svg'
import HouseIcon from '../assets/icons/house.svg'
import ReporteIcon from '../assets/icons/report.svg'
import FacturaIcon from '../assets/icons/factura.svg'
import FAQIcon from '../assets/icons/faq.svg'
import SettingIcon from '../assets/icons/settings.svg'
---
<aside>

  <input type="checkbox" hidden id="toggle-sidebar" value="off" aria-hidden="true" aria-label="Toggle Sidebar Button">
 
  <header class="title">
    <h2>StockLog</h2>
    <label for="toggle-sidebar" id="btn-toggle-sidebar" aria-label="Abrir o Cerrar el Menú">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="size-6"><path d="M3.75 8.5C3.75 8.08579 4.08579 7.75 4.5 7.75H5.75C6.16421 7.75 6.5 8.08579 6.5 8.5C6.5 8.91421 6.16421 9.25 5.75 9.25H4.5C4.08579 9.25 3.75 8.91421 3.75 8.5ZM3.75 12C3.75 11.5858 4.08579 11.25 4.5 11.25H5.75C6.16421 11.25 6.5 11.5858 6.5 12C6.5 12.4142 6.16421 12.75 5.75 12.75H4.5C4.08579 12.75 3.75 12.4142 3.75 12ZM3.75 15.5C3.75 15.0858 4.08579 14.75 4.5 14.75H5.75C6.16421 14.75 6.5 15.0858 6.5 15.5C6.5 15.9142 6.16421 16.25 5.75 16.25H4.5C4.08579 16.25 3.75 15.9142 3.75 15.5ZM4.25 3C2.45507 3 1 4.45507 1 6.25V17.75C1 19.5449 2.45508 21 4.25 21H19.75C21.5449 21 23 19.5449 23 17.75V6.25C23 4.45507 21.5449 3 19.75 3H4.25ZM19.75 19.5H9V4.5H19.75C20.7165 4.5 21.5 5.2835 21.5 6.25V17.75C21.5 18.7165 20.7165 19.5 19.75 19.5ZM4.25 4.5H7.5V19.5H4.25C3.2835 19.5 2.5 18.7165 2.5 17.75V6.25C2.5 5.2835 3.2835 4.5 4.25 4.5Z" fill="currentColor"></path></svg>
      <span class="sr-only">Toggle Sidebar Button</span>
    </label>
  </header>

  <nav>
    <a href="/">
      <HouseIcon/>
      <span>Inicio</span> 
    </a>
    <a href="/">
      <BoxIcons/>
      <span>Inventario</span>
    </a>
    <a href="/">
      <ReporteIcon/>
      <span>Reportes</span>
    </a>
    <a href="/">
      <FacturaIcon/>
      <span>Facturas</span>
    </a>
    <a href="/">
      <FAQIcon />
      <span>FAQ</span>
    </a>
  </nav>

  <button class="btn-settings">
    <SettingIcon />
    <span>Configuración</span>
  </button>
</aside>

<style>
  aside {
    background-color: var(--color-morado-claro);
    padding: 0.5rem;
    width: 300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    transition: width 0.1s ease;

    & > .title {
      padding-inline: 1rem;
      margin-block: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      & > h2 {
        font-size: 1.6rem;
      }
       
      & label {
        cursor: pointer;
        padding: 0.2rem 0.5rem;
        border-radius: 0.2rem;
        display: flex;
        align-items: center;

        &:hover {
          background-color: var(--color-morado-hover);
        }
      }

      & svg {
        width: 1.8rem;
        height: 1.8rem; 
      }
    }

    & > nav {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & > a {
        text-decoration: none;
        color: inherit;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: start;
        
        & > span {
          /* opacity: 0.8;
          transition: opacity 0.2s ease; */
          animation: fade-in 1s ease;
        }

        & > svg {
          stroke: var(--color-naranja-oscuro);
          stroke-width: 2px;
          height: 1.6rem;
          width: 1.6rem;
        }
        
        &:hover {
          background-color: var(--color-morado-hover);

          /* & > span {
            opacity: 1;
          } */
        }
      }
    }

    & > .btn-settings {
      cursor:pointer;
      background-color: var(--color-morado-oscuro);
      margin-top: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      gap: 0.5rem;
      font-size: 1.2rem;
      font-weight: 600;
      color: inherit;
      border: 0;

      & > svg {
        width: 1.6rem;
        height: 1.6rem;
        stroke: var(--color-naranja-oscuro);
      }

      &:hover {
        background-color: var(--color-morado-hover);
      }
    }
  }

  aside:has(#toggle-sidebar:checked) {
    width: 100px;
    
    & > .title {
      width: 100%;
      display: flex;
      justify-content: center;
      
      h2 {
        display: none;
      }
    }

    & > nav {
       
      & > a {

        & > span {
          display: none
        }
      }
    }

    .btn-settings {
      justify-content: center;

      & > span {
        display: none;
      }
    }

  }

  @keyframes slide-fade-in {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
    
  }

</style>

<script  >
  const check = document.querySelector('#toggle-sidebar')  as HTMLInputElement
  const saveState = localStorage.getItem('sidebar-state')

  if (saveState !== null) {
    check.checked = saveState === 'true'
  }

  check.addEventListener('change', () => {
    localStorage.setItem('sidebar-state', String(check.checked));
  })
</script>