---
import Sidebar from "../sections/Sidebar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		
		<title>StockLog</title>
	</head>
	<body>
    <main>
      <Sidebar/>
      <slot />
    </main>
	</body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --color-dark-light: #2f2f2f; 
    --color-morado-oscuro: #1c0e28;
    --color-morado-claro: #261636;
    --color-morado-hover: #2b1d3f;
    --color-naranja-claro: #f49c49;/* FFA270; */
    --color-naranja-oscuro: #e48440; /* e48440 */
    --color-crema: #fff2e0;
  }

	html,
	body {
		width: 100%;
		height: 100%;
    background-color: var(--color-morado-oscuro);
    color: var(--color-crema);
	}

  main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
</style>
