---
import Sidebar from "../sections/Sidebar.astro";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
 		<title>StockLog</title>
	</head>
	<body>
    <Sidebar/>
    <main>
      <slot />
    </main>
	</body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --color-dark-light: #2f2f2f; 
    --color-morado-oscuro: #1c0e28;
    --color-morado-claro: #261636;
    --color-morado-hover: #2b1d3f;
    --color-naranja-claro: #f49c49;/* FFA270; */
    --color-naranja-oscuro: #e48440; /* e48440 */
    --color-crema: #fff2e0;
  }

	body {
    background-color: var(--color-morado-oscuro);
    color: var(--color-crema);
    display: flex;
    min-height: 100dvh;
    position: relative;
	}

  main {
    flex: 1; 
  }

  /* Utilidades */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
  }

  @keyframes fade-in {
    0% { opacity: 0;}
    100% { opacity:1;}
  }
</style>
